html,
body
{
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
}

html
{
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

body
{
  position: relative;

  padding-top: 2rem;

  color: rgb(33 36 39);
  background: white;

  line-height: 2;
}

@media(min-width: 70rem)
{
  body
  {
    padding-top: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6
{
  font-family: "Playfair Display", serif;
}

h1
{
  font-size: 4rem;
  line-height: 1;
}

.logo
{
  position: absolute;
  width: 4rem;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

@media(min-width: 70rem)
{
  h1
  {
    position: relative;
  }

  .logo
  {
    position: absolute;
    top: unset;
    left: -4rem;
    transform: translateX(-100%);
  }
}

h2
{
  font-size: 2rem;
}

h3
{
  font-size: 1.5rem;
  font-style: italic;
}

a:link,
a:visited
{
  color: #084B83;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

ul
{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

li
{
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: baseline;
}

li::before
{
  content: "keyboard_arrow_right";

  position: absolute;
  width: 1.4em;
  height: 1.4em;
  transform: translateX(-100%);

  display: grid;
  place-content: center;

  font-family: "Material Symbols Outlined";
  font-size: 1.5em;
  line-height: 1;
}

.toc
{
  gap: 0;

  margin-top: 3rem;
}

.title
{
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
}

.block
{
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
}

.block:nth-child(even)
{
  background: rgb(245 245 245);
}

.content
{
  box-sizing: border-box;

  width: 100%;
  max-width: 55rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin: 0 auto;
  padding: 6rem 2rem;
}

.strong
{
  font-weight: bold;
}

.em
{
  font-style: italic;
}

.form
{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-flow: row;
  align-items: baseline;
  gap: 1rem;

  margin: 1rem 0;
}

.form-group
{
  display: contents !important;
}

.form-label
{
  grid-column: 1;

  font-weight: 500;
}

.form-control
{
  grid-column: 2;
  resize: vertical;

  color: inherit;
  background: white;

  border: 1px solid #084B83;

  font: inherit;
  line-height: inherit;
}

.form-button
{
  grid-column: 2;

  color: white;
  background: black;

  font: inherit;
  font-weight: bold;
  line-height: inherit;
}

.form-help
{
  grid-column: 2;

  margin-top: -0.5rem;

  font-size: 0.8rem;
}

.footer
{
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0.5rem 1rem;

  color: rgb(240 240 240);
  background: rgb(33 36 39);

  font-size: 0.9rem;
}

@media (prefers-color-scheme: dark)
{
  body
  {
    color: rgb(240 240 240);
    background: rgb(33 36 39);
  }

  .block:nth-child(even)
  {
    background: rgb(17 24 28);
  }

  .form-control
  {
    color: white;
    background: rgb(33 42 55);
  }

  .form-button
  {
    color: black;
    background: white;
  }
}
